.bodybac{
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.808);
    margin: 0;
}
/* من الخواص التي يجب تغيرها لكي تصل للمطلوب
    1. لون الخلفيه
    2. الطول والعرض
    3. الهوامش
    4. الحواشي
    5. نوع العرض
    6. border radius */

/* عند الحاجه w3schools قم بالاستعانه بموقع  */

/* -------------------------------------------------------- */
/* ----------------------العنوان-------------------------- */
/* -------------------------------------------------------- */




/*العرض يجب ان يكون حوالي 1100px */
.navbar{
    
    padding: 0;
    margin: 0;
   
}

.head-ul{
    
}


.head-a{
    text-decoration: none;
    font-size: 20px;
}
.title{
    text-align: center;
    margin: 0;
}
/* استعمل الهوامش او الحواشي لتعديل الشكل  */
.head-li{
 
   
}

/* ---------------------------------------------------------- */



/* ---------------------------------------------------------- */
/* -----------------------المحتوى---------------------------- */
/* ----------------------------------------------------------- */

/* غير في العرض الخاص بالمينيو لجعلة اصغر حجما كالصورة */
.menu{
    display: block;
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 30px;
    height: 500px;
}
img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    border-radius: 20px;
}


.menu-title{
   display: block;
}
/* -------------------------------------------------------------- */


/* --------------------------------------------------------------
 /* ------------------------الشريط الجانبي----------------------*/ 
 /* ------------------------------------------------------------ */
/*  200pxاجعل عرض الشريط   */
.sidebar{
background-color: rgba(255, 255, 255, 0.795);

}
 .link{

} 
.link:hover{
    color: rgb(112, 111, 111);
}
.side-ul{
    margin-left:40px;
    
}
h2{
    margin-left: 30px;
}
.side-li{
    padding-top: 10px;
}




